.education-page-container {
    margin: 20px 0;
}

.education-page-title {
    display: flex;
    align-items: center;
    width: max-content;
    margin-bottom: 20px;
}

.education-page-title img {
    width: 60px;
}

.education-page-title span {
    font-weight: bold;
    font-size: 1.4em;
    margin-left: 20px;
}